{% extends 'base.html.twig' %}

{% block body %}
    <h3>{{ configKey.file }}</h3>
    <table>
        <thead><tr><th>Configuration Key</th><th>Nb Different Values</th></tr></thead>
        {% for row in data %}
        <tr>
            <td>{{ row.key.path }}</td>
            <td>
                <a href="{{ path('report_key', {'keyId': row.key.id}) }}">{{ row.nb_values }}</a>
                {% if row.nb_values == 1 %}
                    <span class="label label-danger">Unique</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
